body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.selector, .form-section {
  margin-bottom: 20px;
}

.chart-container {
  max-width: 600px;
  width: 100%;
  margin-bottom: 40px;
}

input, select, button {
  margin: 5px;
  padding: 5px;
  font-size: 1em;
}
